ul {
  list-style: none;
}

/* Header */
.header-wrapper {
  display: flex;
  justify-content: center;
}

.header-title {
  flex: 0 1 auto;
}

/* Searchbar */
.searchBar-wrapper {
  display: flex;
  justify-content: center;
}

/* Beverage */
.beveragelist-container {
  display: flex;
  flex-wrap: wrap;
}

.beverage-car {
  margin: 20px;
  padding: 10px;
  border: 10px;
}
.beverage-card:hover {
  transform: scale(1.2);
}


/* Beverage List */
.beveragelist {
  display: inline-flex;
  flex-wrap: wrap;
}